/* Style for the search results dropdown */
.search-results {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    width: 100%;
    z-index: 1000;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  

  td {
    position: relative;
    padding: 14px 4px;
  }
  

  .search-results li {
    padding: 8px;
    cursor: pointer;
  }
  

  .search-results li:hover {
    background-color: #f0f0f0;
  }
  